{
    auto_https disable_certs
}

http://blog.hyosakura.com {
    encode gzip
    root * /var/www/html/wordpress
    php_fastcgi localhost:9000
    file_server
    log {
        output file /var/log/caddy/caddy.log
    }
}